{% extends 'base.html' %}

{% block content %}
<div class="text-center">

<br>  
<h1> Welcome to the dashboard <b> {{ user.first_name }} </b> </h1>

<br>
<a href="{% url 'create_record' %}" class="btn btn-outline-primary">Create Record <i class="fa fa-plus" aria-hidden="true"></i>
</a>


{% include 'parts/alerts.html' %}


<div class="text-center" style="margin: 50px;">

<form action="{% url 'search' %}" method="POST">

    {% csrf_token %}

    <input type="search" name="query" placeholder="search"class="form-control mr-sm-2">
    &nbsp;
    <button type="submit" class="btn btn-outline-dark w-100 btn-block p-2">Search <i class="fa fa-search" aria-hidden="true"></i>
</button>

</form>  
<hr style="border: 2px solid; margin: 20px 5px;">

</div>


<br>
<table class="table table-striped">
  <thead>
    <tr>
      <br>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Category</th>
      <th scope="col">Skills</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Address</th>
      <th scope="col">Date</th>
      <th scope="col">View</th>
      
    </tr>
  </thead>
  <tbody>
    {% if records %}
        {% for record in records %}
        
        <tr>
        <td> {{ record.id }} </td>
        <td> {{ record.first_name }} </td>
        <td> {{ record.last_name }} </td>
        <td> {{ record.email }} </td>
        <td> {{ record.category }} </td>
        <td> {{ record.skills }} </td>
        <td> {{ record.phone }} </td>
        <td> {{ record.address }} </td>
        <td> {{ record.created_at }} </td>
        <td> <a href="{% url 'view_record' record.id %}" class="btn btn-outline-primary btn-sm">View</a> </td>
        </tr>

        {% endfor %}
    {% else %}
        <td colspan="10">
            <br>
            <div class="alert alert-warning" role="alert">
                No records found
            </div>
            
        </td>
    {% endif %}
  </tbody>
</table>

</div>
{% endblock %}